$font-size:(
    s: 0.875em,
    m: 1em,
    ml: 1.250em,
    x: 1.50em,
    xl: 1.750em,
    xxl: 2em
);

$color:(
    black: #000000,
    lightBlack: rgba(0, 0, 0, 0.2),
    blue: #004C97,
    red: #D52B1E,
    lightBlue: #3DB7E4,
    darkBlue: rgba(24, 60, 120, 1),
    white: #ffffff,
    grey100: #675C53,
    grey80: #988F86,
    grey50: #B7B1A9,
    grey30: #D5D2CA,
    grey:#F2F2F2,
    darkYellow: rgba(255, 166, 0, 1)
);
